.jvectormap-container       {width:100%;height:100%;position:relative;overflow:hidden}
.jvectormap-tip             {position:absolute;display:none;background:#222;color:#fff;padding:3px;text-transform: capitalize}
.jvectormap-zoomin,
.jvectormap-zoomout         {position:absolute;left:10px;border-radius:3px;background:#222;width:10px;height:10px;padding:3px;color:#fff;cursor:pointer;line-height:10px;text-align:center;box-sizing:content-box}
.jvectormap-zoomin          {top:10px}
.jvectormap-zoomout         {top:30px}
.search-wrapper             {position:absolute;width:28rem;height:4rem;top:50%;left:50%;margin: -2rem 0 0 -14rem;z-index:3;background-repeat:no-repeat;background-position:-3em;border-style:solid;border-color:rgba(0,0,0,.8);border-width:.6em .6em .6em 3.5em}
.search-wrapper svg         {height:2.5em;position:absolute;left:-3em}
@media only screen and (max-width: 40em) {
    .search-wrapper                         {width:100%;margin:0;left:0}
}
#hide-search-wrapper                        {color:#FFF;position:absolute;top:.3em;right:.3em;z-index:2;text-align:center;font-size:.7em;width:2em;height:2em}
.activate-search:hover,
#hide-search-wrapper:hover                  {cursor:pointer}
#hide-search-wrapper.active                 {color:#333}
.activate-search                            {z-index: 3;background-color: rgba(0,0,0,0.5);height: 44px;width: 44px;line-height: 44px;font-size: 2em;position: absolute;left: 10px;top: 121px;border-radius: 3px;text-align: center;}
.activate-search span                       {display:block;color:#fff;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg)}
#preview                                    {display:none;position:absolute;top:61px;left:0;right:0;width:100%;text-align:center;height:500px;background:rgba(0,0,0,.75);overflow:scroll}
#preview h3                                 {color:#fff}
#searchbox                                  {
    background-color: rgba(0,0,0,0.4);
    border: none;
    color: #fff;
    height: 2.9rem;}
.organizations-key,
.christian-percent-key,
.world-main-faith-key                       {padding:25px;display:none}
.world-main-faith-key div                   {position:relative;display:inline-block;height:39px;font-size:14px;line-height:39px;text-indent:39px;margin-bottom:10px;text-align:center}
.world-main-faith-key div:before            {content:"";width:39px;height:39px;position:absolute;top:0;left:0;border:#ccc 1px solid}

.world-main-faith-key .christianity:before  {background:#fff}
.world-main-faith-key .muslim:before        {background:#abdda4}
.world-main-faith-key .atheism:before       {background:#bbb}
.world-main-faith-key .hinduism:before      {background:#fdae61}
.world-main-faith-key .buddhism:before      {background:#d53e4f}
.world-main-faith-key .judaism:before       {background:#3288bd}
.world-watch-list-key .extreme:before       {background:#ac1f2d}
.world-watch-list-key .severe:before        {background:#d9a03f}
.world-watch-list-key .moderate:before      {background:#a7a247}
.world-watch-list-key .sparse:before        {background:#68a3b2}

.organizations-key .fobai:before            {background:#A50F15}
.organizations-key .org:before              {background:#FEE5D9}

.christian-percent-key                      {display:flex;flex-direction:row;line-height:25px;margin-top:12px;padding:10px;width: 60%;max-width:500px;margin: 0 auto}
.christian-percent-key .info-gradient       {height:25px;border-radius:10px;filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#f0f0f0,endColorstr=#71a071);background-image:-moz-linear-gradient(left,#f0f0f0 0%,#71a071 100%);background-image:-webkit-linear-gradient(left,#f0f0f0 0%,#71a071 100%);background-image:-ms-linear-gradient(left,#f0f0f0 0%,#71a071 100%);background-image:linear-gradient(left,#f0f0f0 0%,#71a071 100%);background-image:-o-linear-gradient(left,#f0f0f0 0%,#71a071 100%);background-image:-webkit-gradient(linear,left bottom,right bottom,color-stop(0%,#f0f0f0),color-stop(100%,#71a071))}

.world-watch-list-key                       {padding:25px; display:none; justify-content:center; width: 60%;max-width:500px;margin: 0 auto;}
.legend-title                               {font-size:.9em; padding: .2em 1em .2em .2em;}
.legend-key                                 {position:relative;height:25px;font-size:.8em;line-height:25px;text-indent:36px; margin-right:1em;}
.legend-key:before                          {content:"";width:25px;height:25px;position:absolute;top:0;left:0;border:#ccc 1px solid}
.legend-info                                {height: 1em; width:1em; margin: .25em 0 0 .5em; fill:#888}
.legend-info:hover                          {fill:var(--secondary-color)}
.featured-biblecount h2                     {padding:75px}
.map-options                                {background-color:#222;height:50px;width:100%}
.map-options span                           {display:inline-block;width:100%;line-height:50px;color:#fff;text-align:center;cursor:pointer}
.map-options span:hover                     {background-color:#000}
.jvectormap-container                       {background:-webkit-linear-gradient(83deg,#085078 10%,#85D8CE 90%);background:-moz-linear-gradient(90deg,#085078 10%,#85D8CE 90%);background:-ms-linear-gradient(90deg,#085078 10%,#85D8CE 90%);background:-o-linear-gradient(90deg,#085078 10%,#85D8CE 90%);background:linear-gradient(142deg,#085078 10%,#85D8CE 100%)}
.jvectormap-container .jvectormap-tip       {text-transform:uppercase}
.jvectormap-container .jvectormap-zoomin,
.jvectormap-container .jvectormap-zoomout   {background-color:rgba(0,0,0,.5);padding:10px;height:1em;width:1em;line-height:1em;font-size:1.5em}
.jvectormap-zoomin:hover,
.jvectormap-zoomout:hover                   {background-color:#222}
.jvectormap-container .jvectormap-zoomin    {top:1em}
.jvectormap-container .jvectormap-zoomout   {top:3em}
#map1 {position: relative;height: 64vh}
.continent-nav      {background-color:rgba(0,0,0,.2);position:absolute;margin-left:auto;left:0;right:0;bottom:0;z-index:9}
.continent-nav svg  {height: 40px;margin: 0 auto; display: block}
@media only screen and (min-width:40.063em) {
    .continent-nav                          {border-top-right-radius:15px;border-top-left-radius:15px;left:50%;width:440px;margin-left:-220px!important}
}
.continent-nav a:hover                      {cursor:pointer; fill:var(--secondary-color);}
.text-left  {text-align: left}

#search_input {
    position: relative;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.8);
    width: 383px;
    display: block;
    height: 46px;
    border: none;
    background-image: none;
    margin-top: -1px;
    box-shadow: none;
    text-indent: 10px;
    color: #FFF;
}
#search_input::placeholder {
    color: #FFF;
}

#search_input:focus {
    outline: 3px solid #222;
}
