.dataTables {
  margin-top: 24px;
}

.dataTable {
  color: #222;
  font-size: 0.9em;
  text-align: left;
}
.dataTable tr td {
  padding: 6px 3px 9px 6px !important;
}
.dataTable tr.even {
  background-color: #f2f2f2;
}
.dataTable tr.odd {
  background-color: #fff;
}
.dataTable tr.even td {
  border-right: solid thin #f6f6f6;
}
.dataTable tr.odd td {
  border-right: solid thin #f7f7f7;
}
.dataTable .icon {
  width: 2em;
}

.dataTable thead {
  background-color: #f4f4f4;
  font-size: 1em;
  font-weight: bold !important;
  position: relative;
  text-transform: uppercase;
}
.dataTable thead tr th {
  padding: 0 1.5rem 0 0.3rem;
  color: #000;
  border-right: 1px solid #e2e2e2;
}
.dataTable thead tr td:active, .dataTable thead tr th:active {
  outline: none;
}
.dataTable thead tr {
  height: 40px;
  text-align: center;
}
.dataTable thead tr .subTitle {
  font-size: smaller;
  font-weight: normal;
  text-transform: none;
}

.dataTable tr {
  position: relative;
}
.dataTable tr td {
  padding: 8px 6px;
  text-align: left;
  font-size: 0.9rem;
}
.dataTable tr td .option {
  display: block;
  width: 100%;
  padding: 2px 0;
  background-color: #306CAD;
  color: #FFF;
  margin: 0;
  text-align: center;
  border-radius: 5px;
}
.dataTable tr td .option:hover {
  background-color: #00A7E1;
  color: #FFF;
}
.dataTable tr.even {
  background-color: #f2f2f2;
}
.dataTable tr.odd {
  background-color: #fff;
}
.dataTable tr.even td {
  border-right: solid thin #f6f6f6;
}
.dataTable tr.odd td {
  border-right: solid thin #f7f7f7;
}

.dataTables_paginate {
  margin: 0 auto;
  display: block;
  text-align: center;
  clear: both;
}

.dataTables_paginate .ellipsis,
.dataTables_paginate a {
  display: inline-block;
  min-width: 30px;
  margin: 10px;
  padding: 7px 14px;
  border: 1px solid #ccc;
  color: #222;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.dataTables_paginate div.paginate_button {
  display: inline-block;
}

.dataTables_info[role=status] {
  text-align: center;
  font-size: 0.8em;
  color: #222;
  margin: 36px 0 12px;
  clear: both;
}

.dataTables_paginate a.current {
  opacity: 1;
  border-color: #ccc;
  color: #fefefe;
  cursor: default;
  background-color: #222;
}

.dataTables_paginate a:hover {
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  border-color: #bbb;
  color: #444;
}

.dataTables_wrapper {
  position: relative;
  width: 100%;
}

.dataTables_paginate a.current {
  background-color: var(--primary-color);
}

.dataTables_header {
  width: 100%;
  height: 40px;
  margin: 0 0 32px 6px;
}

.dataTables_length, .dataTables_filter {
  float: left;
  padding: 1rem;
}

.dataTables_length select, .dataTables_filter input {
  height: 40px;
  border: thin solid #d2d2d2;
  float: left;
}

.dataTables_length select {
  width: 66px;
  padding-left: 6px;
  border-radius: 0.3em 0 0 0.3em;
  background-color: #f5f5f5;
}

.dataTables_filter input {
  width: 300px;
  padding: 2px 6px 2px 9px;
  display: inline-block;
  background-color: #fdfdfd;
  border-radius: 0 0.3em 0.3em 0;
  color: #222;
  text-indent: 0.75em;
  font-size: 0.9em;
}

/* Filter Boxes Media Queries */
@media all and (max-width: 60em) {
  .dataTables_filter input {
    width: 240px;
  }
}
@media all and (max-width: 45em) {
  .dataTables_filter input {
    width: 180px;
  }

  .dataTables_length select {
    width: 54px;
    font-size: 0.78em;
  }
}
@media all and (max-width: 30em) {
  .dataTables_filter input {
    width: 160px;
    font-size: 0.8em;
  }
}
.dataTables_links a {
  position: absolute;
  height: 60px;
  width: 60px;
  display: block;
  background: no-repeat center center/75% 75%;
}

.dataTables_filter input::-moz-placeholder {
  color: #aaa;
}

.dataTables_filter input:-ms-input-placeholder {
  color: #aaa;
}

.dataTables_filter input::placeholder {
  color: #aaa;
}

.dataTables_info[role=status] {
  font-size: 1rem;
}

div#DataTables_Table_0_filter {
  margin-bottom: 16px;
}

table#DataTables_Table_0 {
  border: 1px solid #eee;
}

.dataTable .e {
  color: #888;
}

.not-paginated .dataTables_header .dataTables_filter {
  position: relative;
  left: auto;
  float: none;
}

.not-paginated .dataTables_paginate,
.not-paginated .dataTables_info,
.not-paginated .dataTables_length {
  display: none;
}

.not-paginated .dataTables_filter,
.not-paginated .dataTables_filter input {
  width: 50%;
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: 600px) {
  .not-paginated dataTables_filter,
.not-paginated .dataTables_filter input {
    width: 100%;
  }
}
.datatables_loader,
.datatables_loader:after {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  margin-left: -25px;
  display: block;
}

.datatables_loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 0.5em solid rgba(0, 0, 0, 0.2);
  border-left-color: #222;
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.filters {
  margin: 0 0 2em 0;
  width: 100%;
  max-width: 180px;
  border: thin solid #e2e2e2;
  border-radius: 0.3em;
  padding: 0.5em;
}

.filters legend {
  text-align: center;
  border-radius: 0.4em 0.4em 0 0;
  padding: 0.2em 0.5em 0 0.5em;
  font-size: 0.92em;
  color: #777;
}

.filters input:checked + label {
  color: #fff;
  background-color: var(--primary-color);
}

.filters label {
  display: block;
  border: none;
  height: 24px;
  width: 100%;
  padding: 0.25em 0 0 0.3em;
  font-size: 0.82rem;
  letter-spacing: 0.01rem;
  text-align: left;
  color: #666;
}

.filters label .icon {
  margin: 0 6px 0 0;
  color: var(--third-color);
}

.filters label:hover {
  color: #000;
}

.filters label:hover .icon {
  color: var(--primary-color);
}

.filters label .icon {
  width: 1rem;
  height: 1rem;
}

.filters input {
  display: none;
}

.filters input:checked + label .icon {
  color: #fff;
}

.dataTable thead .sorting_desc, .dataTable thead .sorting_asc, .dataTable thead .sorting {
  position: relative;
}
.dataTable thead .sorting:after, .dataTable thead .sorting:before, .dataTable thead .sorting_asc:after, .dataTable thead .sorting_asc:before, .dataTable thead .sorting_desc:after, .dataTable thead .sorting_desc:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  right: 10px;
}
.dataTable thead .sorting:before, .dataTable thead .sorting_asc:before {
  border-bottom: 7px solid #ccc;
  top: 10px;
}
.dataTable thead .sorting:after, .dataTable thead .sorting_desc:after {
  border-top: 7px solid #ccc;
  top: 24px;
}
.dataTable thead .sorting_asc:after {
  top: 24px;
  border-top: 7px solid #48c;
}
.dataTable thead .sorting_desc:before {
  top: 10px;
  border-bottom: 7px solid #48c;
}

.table i {
  display: block;
  font-style: normal;
  text-align: center;
}
